// Place all the styles related to the articulos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a{
    background-color: #01a76f;
    border-radius: 5px;
    box-shadow: 2px 3px #444;
    color: black;
    margin: 1em;
    padding: 5px;
    text-decoration: none;
}

table { 
    border-spacing: 5px;
    border-collapse: separate;
}
td { 
    padding: 5px;
}
